/* Landing.css */
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
}

.landing__content {
  text-align: center;
}

.landing__logo {
  width: 150px; /* Increase size as needed */
  height: 150px; /* Increase size as needed */
  margin-bottom: 1rem;
}

.landing__title {
  font-family: 'Arial Black', Gadget, sans-serif; /* Same font family as navbar */
  font-size: 2.5rem; /* Match the size used in the navbar */
  color: #001f3f; /* Navy blue color from navbar */
  margin: 0;
}

.landing__button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #0077b6; /* Matching login button color */
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.landing__button:hover {
  background-color: #005f8a;
}
